{
  "id": "1016869518964765408",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "inventory"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "MaterialId",
      "targetPropertyId": "944379901657044559"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "MaterialId",
      "targetPropertyId": "1151932460490019255"
    }
  ]
}
