{
  "id": "456075438118255879",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "BatchMaterialUsage",
  "entityIdParts": [
    "1035269960491915996"
  ],
  "displayNamePropertyId": "1035269960491915996",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "1035269960491915996",
      "name": "UsageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "123480755677462558",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "857629907420085571",
      "name": "MaterialId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "400778953478977042",
      "name": "QuantityKg",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
