{
  "namespace": "usertypes",
  "id": "223304782278712334",
  "name": "invoice_to_order",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "373075556255272396"
  },
  "target": {
    "entityTypeId": "279140284023641954"
  }
}
