{
  "id": "672704375411270245",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Supplier",
  "entityIdParts": [
    "612012113615872719"
  ],
  "displayNamePropertyId": "702613109445839313",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "612012113615872719",
      "name": "SupplierId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "702613109445839313",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "925278321352386795",
      "name": "Country",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "562139141808581864",
      "name": "MaterialType",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1129489986207583531",
      "name": "Rating",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
