{
  "id": "291380154455871799",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Material",
  "entityIdParts": [
    "1151932460490019255"
  ],
  "displayNamePropertyId": "1151932460490019255",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "1151932460490019255",
      "name": "MaterialId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "849216093463932829",
      "name": "SupplierId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "876765426927635907",
      "name": "Type",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "380110882465642746",
      "name": "LotNumber",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "361443764853869992",
      "name": "ReceivedDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "612369438747651400",
      "name": "QuantityKg",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
