{
  "namespace": "usertypes",
  "id": "180961684626795000",
  "name": "line_status_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "369236032416758489"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
