{
  "id": "1063478437768672461",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "silver_conching"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "530486392986044874"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "258569118613810830"
    }
  ]
}
