{
  "id": "768373085034716386",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingPackaging",
  "entityIdParts": [
    "1039932003763487644"
  ],
  "displayNamePropertyId": "1039932003763487644",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "1039932003763487644",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "765465029928695808",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "27311887331840885",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "46551963246150220",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "438866591204824406",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1054956331231267005",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1032615171331513752",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "440225875439861766",
      "name": "LineSpeedUnitsPerMin",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1077272114465108710",
      "name": "SealTemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "983571026954303310",
      "name": "RejectRatePercent",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
