{
  "id": "485436839002034205",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingGrinding",
  "entityIdParts": [
    "797365222877092030"
  ],
  "displayNamePropertyId": "797365222877092030",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "797365222877092030",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "979410109732259148",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "620142614166860431",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "116248381647049990",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "57903175805260774",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "34780777431824628",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "131334123275017261",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "152725979427853623",
      "name": "ParticleSizeMicron",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1144810008132444205",
      "name": "MotorTemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1134975959018760470",
      "name": "ThroughputKgPerHr",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
