{
  "namespace": "usertypes",
  "id": "731591118229931919",
  "name": "shipment_to_factory",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "405201331126536388"
  },
  "target": {
    "entityTypeId": "30551762714233462"
  }
}
