{
  "id": "332847956320055430",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "order_line"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "OrderLineId",
      "targetPropertyId": "855120191682420786"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "ProductId",
      "targetPropertyId": "470695028645872827"
    }
  ]
}
