{
  "namespace": "usertypes",
  "id": "1014170684687862036",
  "name": "material_to_supplier",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "291380154455871799"
  },
  "target": {
    "entityTypeId": "672704375411270245"
  }
}
