{
  "namespace": "usertypes",
  "id": "670616436196435003",
  "name": "inventory_to_factory",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "797603718511628463"
  },
  "target": {
    "entityTypeId": "30551762714233462"
  }
}
