{
  "namespace": "usertypes",
  "id": "386064688926108522",
  "name": "line_to_factory",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "150934712430559872"
  },
  "target": {
    "entityTypeId": "30551762714233462"
  }
}
