{
  "id": "1053159872810555971",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "material"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "MaterialId",
      "targetPropertyId": "1151932460490019255"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "SupplierId",
      "targetPropertyId": "612012113615872719"
    }
  ]
}
