{
  "namespace": "usertypes",
  "id": "888278166538867447",
  "name": "reading_packaging_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "768373085034716386"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
