{
  "namespace": "usertypes",
  "id": "1123961302149771602",
  "name": "shipment_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "405201331126536388"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
