{
  "id": "797603718511628463",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Inventory",
  "entityIdParts": [
    "944379901657044559"
  ],
  "displayNamePropertyId": "944379901657044559",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "944379901657044559",
      "name": "InventoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "802117896146170861",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "776548387932106155",
      "name": "MaterialId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "75345265951464413",
      "name": "QuantityOnHand",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1087527903866233414",
      "name": "ReorderLevel",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1112215865352762724",
      "name": "LastUpdated",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    }
  ]
}
