{
  "id": "105444790621809376",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "QualityCheck",
  "entityIdParts": [
    "4898981233688552"
  ],
  "displayNamePropertyId": "4898981233688552",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "4898981233688552",
      "name": "CheckId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "23766877290235084",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "984651808558516618",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "917653192400196507",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1046023032892135692",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "514289810012128040",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1036973692409813016",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "951164808720082958",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1034266953625038746",
      "name": "StageName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "646082850473584748",
      "name": "Phase",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "723663486356699723",
      "name": "DefectRate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "328743483207475592",
      "name": "Result",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "824309966115784283",
      "name": "Notes",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
