{
  "id": "1017125587169349919",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Recipe",
  "entityIdParts": [
    "1044156301829599406"
  ],
  "displayNamePropertyId": "842231186995993554",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "1044156301829599406",
      "name": "RecipeId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "842231186995993554",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "728977024279116018",
      "name": "CacaoPercent",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "698622763263382612",
      "name": "MilkPercent",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "613827604095280317",
      "name": "SugarPercent",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
