{
  "id": "340906809091169020",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Batch",
  "entityIdParts": [
    "437529534197250178"
  ],
  "displayNamePropertyId": "437529534197250178",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "437529534197250178",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "1118503905889744778",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "2380653384256426",
      "name": "RecipeId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "568364700732282581",
      "name": "StartTime",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "439079689238164695",
      "name": "EndTime",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    }
  ]
}
