{
  "namespace": "usertypes",
  "id": "110891985666149910",
  "name": "reading_mixing_refining_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "862903341230988847"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
