{
  "namespace": "usertypes",
  "id": "547770734604185283",
  "name": "reading_molding_cooling_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "95657711107161108"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
