{
  "id": "443326425126392537",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "batch_material_usage"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "UsageId",
      "targetPropertyId": "1035269960491915996"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "BatchId",
      "targetPropertyId": "437529534197250178"
    }
  ]
}
