{
  "id": "369236032416758489",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "LineStatus",
  "entityIdParts": [
    "549721031266699837"
  ],
  "displayNamePropertyId": "549721031266699837",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "549721031266699837",
      "name": "EventId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "974381339318418154",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "606514981216356908",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "834024163344456242",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "792721277254994003",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "118468036083073440",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1060287033599542423",
      "name": "Status",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "529507867144665277",
      "name": "Reason",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
