{
  "id": "319929366860412980",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "product"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "ProductId",
      "targetPropertyId": "470695028645872827"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "RecipeId",
      "targetPropertyId": "1044156301829599406"
    }
  ]
}
