{
  "id": "279140284023641954",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SalesOrder",
  "entityIdParts": [
    "306451690065095366"
  ],
  "displayNamePropertyId": "306451690065095366",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "306451690065095366",
      "name": "OrderId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "989889390473765184",
      "name": "CustomerId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "18307496728436225",
      "name": "OrderDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "950670216763141264",
      "name": "Status",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "713880107395717151",
      "name": "TotalAmount",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "546813373310787227",
      "name": "Currency",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
