{
  "id": "150934712430559872",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "ProductionLine",
  "entityIdParts": [
    "258569118613810830"
  ],
  "displayNamePropertyId": "469280495669421650",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "258569118613810830",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "655514640098032456",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "377334217378311161",
      "name": "LineNumber",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "BigInt"
    },
    {
      "id": "469280495669421650",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
