{
  "namespace": "usertypes",
  "id": "944620069900779066",
  "name": "reading_molding_cooling_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "95657711107161108"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
