{
  "namespace": "usertypes",
  "id": "643817369841823279",
  "name": "check_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "105444790621809376"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
