{
  "id": "373075556255272396",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Invoice",
  "entityIdParts": [
    "87538598629136600"
  ],
  "displayNamePropertyId": "87538598629136600",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "87538598629136600",
      "name": "InvoiceId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "329423140588420373",
      "name": "OrderId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "8303267878624271",
      "name": "IssueDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "1097588985612785019",
      "name": "DueDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "837736581461617478",
      "name": "AmountDue",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "386734244283286963",
      "name": "PaidDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    }
  ]
}
