{
  "id": "497719732739816583",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "shipment"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "ShipmentId",
      "targetPropertyId": "589487649521115873"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "BatchId",
      "targetPropertyId": "437529534197250178"
    }
  ]
}
