{
  "id": "1047945823863064633",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "silver_molding_cooling"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "39989419731009786"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "258569118613810830"
    }
  ]
}
