{
  "namespace": "usertypes",
  "id": "789306595149210569",
  "name": "product_to_recipe",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "758735683219419775"
  },
  "target": {
    "entityTypeId": "1017125587169349919"
  }
}
