{
  "namespace": "usertypes",
  "id": "1064683885748734179",
  "name": "reading_tempering_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "652877642167274194"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
