{
  "id": "58703390932197596",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingConching",
  "entityIdParts": [
    "530486392986044874"
  ],
  "displayNamePropertyId": "530486392986044874",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "530486392986044874",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "651664544413553125",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "9540916573305746",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "125048484047719370",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "468138765277493498",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "461115722156777689",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "300809194931939227",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "174105457286520739",
      "name": "TemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "856302764796884029",
      "name": "MoisturePercent",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "847908256591769905",
      "name": "AcidityPH",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
