{
  "namespace": "usertypes",
  "id": "569039478777645440",
  "name": "reading_packaging_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "768373085034716386"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
