{
  "namespace": "usertypes",
  "id": "959714536404852790",
  "name": "check_to_stage",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "105444790621809376"
  },
  "target": {
    "entityTypeId": "1108885009273634789"
  }
}
