{
  "id": "972903930375273404",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "silver_grinding"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "797365222877092030"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "258569118613810830"
    }
  ]
}
