{
  "namespace": "usertypes",
  "id": "406131821216156129",
  "name": "inventory_to_material",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "797603718511628463"
  },
  "target": {
    "entityTypeId": "291380154455871799"
  }
}
