{
  "id": "1097540751989448182",
  "dataBindingConfiguration": {
    "dataBindingType": "NonTimeSeries",
    "propertyBindings": [
      {
        "sourceColumnName": "LineId",
        "targetPropertyId": "683279945878448094"
      }
    ],
    "sourceTableProperties": {
      "sourceType": "LakehouseTable",
      "workspaceId": "{{ .WorkspaceId }}",
      "itemId": "{{ .LakehouseId }}",
      "sourceTableName": "production_line"
    }
  }
}
