{
  "id": "95657711107161108",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingMoldingCooling",
  "entityIdParts": [
    "39989419731009786"
  ],
  "displayNamePropertyId": "39989419731009786",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "39989419731009786",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "1101442187553118000",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "598918510020907074",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1129536221070536983",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "808571282521008510",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "603953377573912994",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "312046012107313683",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "599124878131524093",
      "name": "MoldTemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1134145362973862685",
      "name": "TunnelTemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "702579342733126134",
      "name": "VibrationHz",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
