{
  "namespace": "usertypes",
  "id": "942865912631875051",
  "name": "reading_mixing_refining_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "862903341230988847"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
