{
  "id": "1108885009273634789",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "ProductionStage",
  "entityIdParts": [
    "186229795881521293"
  ],
  "displayNamePropertyId": "84331476083058706",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "186229795881521293",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1135916957322581160",
      "name": "Phase",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "84331476083058706",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "969320679694436379",
      "name": "SequenceOrder",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "BigInt"
    }
  ]
}
