{
  "namespace": "usertypes",
  "id": "56769366774794828",
  "name": "order_to_customer",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "279140284023641954"
  },
  "target": {
    "entityTypeId": "823109274677142340"
  }
}
