{
  "id": "862903341230988847",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingMixingRefining",
  "entityIdParts": [
    "683279945878448094"
  ],
  "displayNamePropertyId": "683279945878448094",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "683279945878448094",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "481167123550643283",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "761130289649024145",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "153993197685996665",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "32715689736747893",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "953861414386619958",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "583219546325892529",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "339635512020314448",
      "name": "ParticleSizeMicron",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "253898394007077879",
      "name": "RollerTemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "216089503663717584",
      "name": "ViscosityPaS",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
