{
  "id": "405201331126536388",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Shipment",
  "entityIdParts": [
    "589487649521115873"
  ],
  "displayNamePropertyId": "589487649521115873",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "589487649521115873",
      "name": "ShipmentId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "970820854008023956",
      "name": "FromFactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "596681400779294838",
      "name": "ToLocationId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "328526824589566442",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "723685010036975527",
      "name": "Carrier",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "706489914468364989",
      "name": "DepartDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "250057510428031778",
      "name": "ArriveDate",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "1085472032875993447",
      "name": "Status",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
