{
  "namespace": "usertypes",
  "id": "292915356837995483",
  "name": "usage_to_material",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "456075438118255879"
  },
  "target": {
    "entityTypeId": "291380154455871799"
  }
}
