{
  "namespace": "usertypes",
  "id": "1075360949551189792",
  "name": "batch_to_recipe",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "340906809091169020"
  },
  "target": {
    "entityTypeId": "1017125587169349919"
  }
}
