{
  "namespace": "usertypes",
  "id": "956959534055151810",
  "name": "reading_tempering_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "652877642167274194"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
