{
  "id": "823109274677142340",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Customer",
  "entityIdParts": [
    "978373791517976409"
  ],
  "displayNamePropertyId": "26972760918660348",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "978373791517976409",
      "name": "CustomerId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "26972760918660348",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "849708793899545211",
      "name": "Country",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "964256708881824872",
      "name": "Segment",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "716517083979796128",
      "name": "CreditLimit",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "BigInt"
    }
  ]
}
