{
  "namespace": "usertypes",
  "id": "771888705784684573",
  "name": "reading_grinding_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "485436839002034205"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
