{
  "id": "1104158306328719799",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "silver_molding_cooling"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "39989419731009786"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "BatchId",
      "targetPropertyId": "437529534197250178"
    }
  ]
}
