{
  "namespace": "usertypes",
  "id": "319643040008170407",
  "name": "reading_grinding_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "485436839002034205"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
