{
  "namespace": "usertypes",
  "id": "581391840248982099",
  "name": "reading_conching_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "58703390932197596"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
