{
  "namespace": "usertypes",
  "id": "707687902507174424",
  "name": "usage_to_batch",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "456075438118255879"
  },
  "target": {
    "entityTypeId": "340906809091169020"
  }
}
