{
  "id": "373442187506378315",
  "dataBindingTable": {
    "sourceType": "LakehouseTable",
    "workspaceId": "{{ .WorkspaceId }}",
    "itemId": "{{ .LakehouseId }}",
    "sourceTableName": "silver_tempering"
  },
  "sourceKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "1015872119408526570"
    }
  ],
  "targetKeyRefBindings": [
    {
      "sourceColumnName": "LineId",
      "targetPropertyId": "258569118613810830"
    }
  ]
}
