{
  "namespace": "usertypes",
  "id": "681155799723716563",
  "name": "reading_conching_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "58703390932197596"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
