{
  "namespace": "usertypes",
  "id": "536611270044575726",
  "name": "orderline_to_product",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "330572088069008689"
  },
  "target": {
    "entityTypeId": "758735683219419775"
  }
}
