{
  "id": "652877642167274194",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "SensorReadingTempering",
  "entityIdParts": [
    "1015872119408526570"
  ],
  "displayNamePropertyId": "1015872119408526570",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "1015872119408526570",
      "name": "LineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ],
  "timeseriesProperties": [
    {
      "id": "1053876545885150778",
      "name": "Timestamp",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "DateTime"
    },
    {
      "id": "251034001751259363",
      "name": "LineName",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "829046606375898949",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "667592539727502775",
      "name": "FactoryCode",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "917673685529735682",
      "name": "StageId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1069766872403205976",
      "name": "BatchId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "47327583640147530",
      "name": "TemperatureC",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "274897896580939038",
      "name": "CrystalFormIndex",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "316627625814540723",
      "name": "ViscosityPaS",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
