{
  "id": "330572088069008689",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "OrderLine",
  "entityIdParts": [
    "855120191682420786"
  ],
  "displayNamePropertyId": "855120191682420786",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "855120191682420786",
      "name": "OrderLineId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "815181240780315908",
      "name": "OrderId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "937865933804559617",
      "name": "ProductId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "1051004539522254118",
      "name": "QuantityKg",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    },
    {
      "id": "1093773810564026741",
      "name": "UnitPrice",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "Double"
    }
  ]
}
