{
  "namespace": "usertypes",
  "id": "659812025509596746",
  "name": "batch_to_line",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "340906809091169020"
  },
  "target": {
    "entityTypeId": "150934712430559872"
  }
}
