{
  "id": "758735683219419775",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Product",
  "entityIdParts": [
    "470695028645872827"
  ],
  "displayNamePropertyId": "751979108608579343",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "470695028645872827",
      "name": "ProductId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "751979108608579343",
      "name": "Name",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "611709111081633586",
      "name": "RecipeId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "292016775648332448",
      "name": "PackagingType",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "821941569493860501",
      "name": "SKU",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
