{
  "id": "30551762714233462",
  "namespace": "usertypes",
  "baseEntityTypeId": null,
  "name": "Factory",
  "entityIdParts": [
    "239934682223052918"
  ],
  "displayNamePropertyId": "743911332513996337",
  "namespaceType": "Custom",
  "visibility": "Visible",
  "properties": [
    {
      "id": "239934682223052918",
      "name": "FactoryId",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "743911332513996337",
      "name": "Code",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "366146785357345661",
      "name": "City",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "398677968559649080",
      "name": "Country",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "995984288458737624",
      "name": "Region",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    },
    {
      "id": "460038670960186063",
      "name": "TimeZone",
      "redefines": null,
      "baseTypeNamespaceType": null,
      "valueType": "String"
    }
  ]
}
