{
  "namespace": "usertypes",
  "id": "603668682032651973",
  "name": "orderline_to_order",
  "namespaceType": "Custom",
  "source": {
    "entityTypeId": "330572088069008689"
  },
  "target": {
    "entityTypeId": "279140284023641954"
  }
}
